.flex-container {
  display: flex;
  gap: 10px;
  /* flex-wrap: nowrap; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* flex-direction: row-reverse; */
  flex-flow: row nowrap; /*combines flex direction and flex-wrap*/
  /* justify-content: center; */
  justify-content: flex-start;
}

.flex-container div {
  height: 100px;
  width: 100px;
  border: 1px solid #000;
}
