.maindiv {
  position: relative;
  border: 2px solid black;
  height: 200px;
  width: 200px;
}

.static {
  position: static;
}

.relative {
  position: relative;
  left: 10px;
  top: 10px;
}

.divStyle {
  border: 2px solid black;
  height: 100px;
  width: 100px;
}

p {
  border: 2px solid black;
  padding: 2px;
  width: fit-content;
}

.fixed {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.absolute {
  position: absolute;
  border: 1px solid blue;
  padding: 20px;
  top: 0px;
  right: 0px;
}
.text-absulute {
  position: absolute;
  top: 50%;
  right: 50%;
}

.sticky {
  position: sticky;
  top: 10px;
  right: 20px;
}
