/* h1 {
  color: blue;
}

body {
  display: flex;
  gap: 5;
  justify-content: space-between;
  padding: 20px;
}

.pg {
  animation: slide-in 1s ease-in-out;
}

@keyframes slide-in {
  from {
    transform: translateX(10%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 100;
  }
} */

h2, h3 {
  color: blue;
}

.border {
  padding: 10px;
  border-style: dotted;
}